.signup{
  width: 450px;
  
  overflow: hidden;
  margin: 30 0 0 30px;
  margin:auto;
  padding: 60px;
  backdrop-filter:blur(3px);
  border-radius: 15px;
  color:white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
h1.heee{
  font-family: "brush script mt";
  font-size:200%;
  color:navy;
}
.MuiOutlinedInput-notchedOutline {
  border-color:white !important;
}