.home{
    
        
  
  right: 100px;
/* background-image: linear-gradient(to right,aqua,violet); */
  color:black;
  padding-left: 0px;
  padding-right: 0px;
  height: 95%;
  width: 33%;
  position: absolute;
  overflow: auto;
  font-style: italic;
  font-size: larger;
;
  
  

}
img{
  padding-left: 50px;
}